@-ms-keyframes status-info-fade {
  0% {
    color: rgba(165, 165, 165, 1.0);
  }
  100% {
    color: rgba(165, 165, 165, 0.0);
  }
}

@-o-keyframes status-info-fade {
  0% {
    color: rgba(165, 165, 165, 1.0);
  }
  100% {
    color: rgba(165, 165, 165, 0.0);
  }
}

@-moz-keyframes status-info-fade {
  0% {
    color: rgba(165, 165, 165, 1.0);
  }
  100% {
    color: rgba(165, 165, 165, 0.0);
  }
}

@-webkit-keyframes status-info-fade {
  0% {
    color: rgba(165, 165, 165, 1.0);
  }
  100% {
    color: rgba(165, 165, 165, 0.0);
  }
}

@keyframes status-info-fade {
  0% {
    color: rgba(165, 165, 165, 1.0);
  }
  100% {
    color: rgba(165, 165, 165, 0.0);
  }
}
